In [3]:
# Import important libraries and modules:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

# Importing SpaCy:
import spacy as sp

In [7]:
# Importing the dataset:
data = pd.read_csv("spam.csv",encoding='iso-8859-1')
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [30]:
# Initializing SpaCY:
nlp = sp.load("en_core_web_sm")

# Sample text is taken for performing specific functionalities:
text = data['v2'][2]

text

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

#### Tokenization:

In [31]:
from spacy.lang.en import English

In [32]:
nlp = English()

In [33]:
doc = nlp(text)

In [34]:
# Selecting the First Token:
first_token = doc[0]

In [35]:
print(first_token.text)

Free

In [36]:
tokenList = []
for i in doc:
    tokenList.append(i) 
print(tokenList)

[Free, entry, in, 2, a, wkly, comp, to, win, FA, Cup, final, tkts, 21st, May, 2005, ., Text, FA, to, 87121, to, receive, entry, question(std, txt, rate)T&C, 's, apply, 08452810075over18, 's]

#### POS(Parts of Speech) Tagging:

In [43]:
for token in doc:
    token_text = token.text     # text 
    token_pos  = token.pos_     # POS tag
    token_dep = token.dep_      # Dependency Label
    #print("{} --> {} --> {}".format(token_text < 12,token_pos < 10, token_dep < 10))
 
    print(f"{token_text:<5}{token_pos:<3}{token_dep:<3}")

Free
entry
in
2
a
wkly
comp
to
win
FA
Cup
final
tkts
21st
May
2005
.
Text
FA
to
87121
to
receive
entry
question(std
txt
rate)T&C
's
apply
08452810075over18
's

Here it is not giving a conclusive answer hence I have taken a string on my own for textual input.

In [47]:
textUser = "It’s official: Apple is the first U.S. public company to reach a $1 trillion market value"

In [51]:
docUser = nlp(textUser)
for i in docUser:
    token_text = i.text
    token_pos = i.pos_
    print(token_text, "---->",token_pos)

It ---->
’s ---->
official ---->
: ---->
Apple ---->
is ---->
the ---->
first ---->
U.S. ---->
public ---->
company ---->
to ---->
reach ---->
a ---->
$ ---->
1 ---->
trillion ---->
market ---->
value ---->

### Named Entity Relationship (NER) in SpaCy:

I have given a different example.

In [54]:
textUser2 = "Upcoming iPhone X release date leaked as Apple reveals pre-orders"

In [55]:
docUser2 = nlp(textUser2)

In [56]:
for ent in docUser2.ents:
    print(ent.text, ent.label_)

In [58]:
iphone_x = docUser2[1:3]
print("Missing Entity: ", iphone_x.text)

Missing Entity:  iPhone X